<% skin web_skin %>
<% view devices uses content::devices extends master %>
<% template title() %><% include master::title() %> :: devices<% end %>
<% template page_content() %>
  <%= content_head | raw %>
  <% foreach dev in device_list %>
    <ul>
    <% item %>
      <li><%= dev %></li>
    <% end %>
    </ul>
  <% end foreach %>
<% end template %> 
<% end view %>
<% end skin %>
