<% skin web_skin %>
<% view main uses content::master extends master %>
<% template page_content() %>
  <p><a href='<% url "/bus" %>'>show buses</a></p>
  <p><a href='<% url "/devices" %>'>show devices</a></p>
  <p><a href='<% url "/setup" %>'>setup devices</a></p>
  <p><a href='<% url "/system" %>'>system information</a></p>
<% end template %> 
<% end view %>
<% end skin %>
