<% skin web_skin %>
<% view page uses content::page extends master %>
<% template title() %><%= page_title %> on <% include master::title() %><% end %>
<% template page_content() %>
  <%= page_content | raw %>
<% end template %> 
<% end view %>
<% end skin %>
