<% skin web_skin %>
<% view message uses content::message extends master %>
<% template title() %>setup on <% include master::title() %><% end %>
<% template render() %>
<html>
  <body>
    <h1>device setup</h1>
    <form method="post" action="" >
      <fieldset>
      <legend><b>MC2SA</b></legend>
        capacitors for gain
        <table>
        <% form as_table infoMC2SAgain %>
        </table>
        resistors for conter reaction
        <table>
        <% form as_table infoMC2SAresistor %>
        </table>
      </fieldset>
      <fieldset>
      <legend><b>ambiant temperature</b></legend>
        <% form as_p infoTemperature %>
      </fieldset>
      <% form as_p infoApply %>
    </form>
  </body>
<html>
<% end template %>
<% end view %>
<% end skin %>
