<% skin web_skin %>
<% view message uses content::message extends master %>
<% template title() %>setup on <% include master::title() %><% end %>
<% template render() %>
<html>
  <body>
    <h1>device setup</h1>
<!--{ navigation tab -->
    <hr/>
    <table>
    <tr>
    <% foreach tab in nav_tabs %>
      <% item %>
        <th>
        <% if not empty tab.link %><!-- no link on empty link, as this is current page -->
        <a href="<%= tab.link %>">
        <% end %>
        <%= tab.name %>
        <% if not empty tab.link %>
        </a>
        <% end %>
        </th>
      <% end item %>
    <% end foreach %>
    </tr>
    </table>
    <hr/>
<!--} navigation tab -->
    <form method="post" action="" >
<!--{ MC2SA# fields -->
      <fieldset>
      <legend><b>MC2SA#<%= id %></b></legend>
<!-- //! \todo remove this prototype warning in release -->
        <p>warning: on this <b>prototype</b>, please, use MC2SA#2 to modify channel#0</p>
        <p>capacitors for <a href="https://en.wikipedia.org/wiki/Gain_(electronics)">gain</a>:
        <% form as_space infoMC2SAgain %>
        </p>
        <p>resistors for <a href="https://en.wikipedia.org/wiki/Negative_feedback">balancing feedback</a>:
        <% form as_space infoMC2SAresistor %>
        with R<sub>f</sub>=4.33MOhm, e.g. R<sub>f</sub> & 300k = 1MOhm
        </p>
        <% form as_p infoMC2SAoption %>
        <% form as_p infoMC2SAtestNdiscri %>
        <% form as_p infoMC2SAdiscri %>
        <% form as_p infoMC2SAoffset %>
        <% form as_p infoMC2SAamplitudeOrVCIM %>
      </fieldset>
<!--} MC2SA# fields -->
      <% form as_p infoApply %>
<!--{ temperature fields -->
      <fieldset>
      <legend><b>ambiant temperature</b></legend>
        <% form as_p infoTemperature %>
      </fieldset>
<!--} temperature fields -->
    </form>
  </body>
<html>
<% end template %>
<% end view %>
<% end skin %>
